<h3>
    <span>{{post.title}}</span>
    <span class="date">{{post.created_at | date:'MM/dd/y, HH:mm a'}}</span>
</h3>
<p>{{post.content}}</p>
<div>
    <button class="btn btn-success" (click)="onUpVote()">Love it !</button>
    <button class="btn btn-danger" (click)="onDownVote()">Don't love it !</button>
    <span class="label label-info">score : {{post.loveIts}}</span>
</div>

