h3 {
    font-size: 0;

    span { 
        font-size: 24px;
        width: 70%;
        display: inline-block;
    }

    span.date {
        font-size: 16px;
        font-weight: normal;
        width: 30%;
        text-align: right;
    }
}

button {
    margin-right: 10px;
}