<div class="row">
    <ul class="list-group">
        <li class="list-group-item" [ngClass]="{'list-group-item-success' : post.loveIts > 0, 'list-group-item-danger' : post.loveIts < 0}" *ngFor="let post of posts">
            <app-post-list-item [post]="post"></app-post-list-item>
        </li>
    </ul>
</div>
